{% extends 'maps/base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block body_id %}home{% endblock %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block extra_map_sidebar_header_class %}{{ block.super }}{% endblock %}
{% block extra_map_sidebar_tabs_class %}{{ block.super }}{% endblock %}

{% block map_id %}home-map{% endblock %}

{# Start: map sidebar header content #}
{% block map_sidebar_header_content %}
    <div class="p-3">
        <p class="h-txt-20">
            {% blocktrans trimmed %}
                Visualize data about climate and energy, digital infrastructure, and demographics across Zambia, Malawi, and the DRC.
            {% endblocktrans %}
        </p>
        <p class="p-txt-14 mt-3">
            {% blocktrans trimmed %}
                This is a prototype. Some data may be missing or incomplete. Click
                <a href="#">here</a> for details.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
{# End: map sidebar header content #}

{# Start: map sidebar tabs content #}
{% block map_sidebar_tabs_content %}

    {# Start: sidebar nav tabs #}
    <ul id="map-sidebar-tabs-tab-list" class="nav nav-underline nav-underline-bordered justify-content-center" role="tablist">
        <li class="nav-item me-5" role="presentation">
            <button
                id="tab-link-choose-layers"
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-choose-layers"
                type="button"
                role="tab"
                aria-controls="tab-pane-choose-layers"
                aria-selected="true">
                {% comment %} {% trans "Choose layers" %} {% endcomment %}
                <span>Choose</span><br><span>layers</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                id="tab-link-view-presets"
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-view-presets"
                type="button"
                role="tab"
                aria-controls="tab-pane-view-presets"
                aria-selected="false">
                {% comment %} {% trans "View presets" %} {% endcomment %}
                <span>View</span><br><span>presets</span>
            </button>
        </li>
    </ul>
    {# End: sidebar nav tabs #}

    {# Start: map sidebar tab content #}
    <div id="map-sidebar-tabs-tab-content" class="tab-content p-3">

        {# Start: choose layers tab pane #}
        {% include "about/includes/home_tab_pane_choose_layers.html" %}
        {# End: choose layers tab pane #}

        {# Start: view presets tab pane #}
        {% include "about/includes/home_tab_pane_view_presets.html" %}
        {# End: view presets tab pane #}

    </div>
    {# End: map sidebar tab content #}

{% endblock %}
{# End: map sidebar tabs content #}

{# Start: extra body hidden content #}
{% block extra_body %}
    {{ block.super }}
    {% include "about/includes/home_extra_body.html" %}
{% endblock %}
{# End: extra body hidden content #}

{# Start: map extras content #}
{% block map_extras %}
    {{ block.super }}
    {% include "about/includes/home_map_extras.html" %}
{% endblock %}
{# End: map extras content #}


{% block main_js %}
    <script src="{% static 'home.js' %}"></script>
{% endblock main_js %}
