{% extends 'maps/base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Map" %}{% endblock %}

{% block body_id %}about-map{% endblock %}

{% block body_class %}{{ block.super }} about-map{% endblock %}

{# Start: sidebar content #}
{% block map_sidebar_content %}
  <h4 class="mb-3">Map Sidebar</h4>
  <p>Put sidebar content here, like filters, stats, tabs or controls.</p>
{% endblock %}
{# End: map sidebar content #}


{# Start: js #}
{% block js %}
  {{ block.super }}
  <script src="{% static 'home.js' %}"></script>
{% endblock js %}
{# End: js #}
