// Overrides Bootstrap variables
// See: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
//

// Fonts
// Settings for the loadig and set fonts.
//
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

$web-font-path: 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap';
@import url($web-font-path);

// Color system
//
$primary: #007fff !default;

// Body
//
// Settings for the `<body>` element.
//
// $body-bg: $white !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
//
$font-family-sans-serif: 'DM Sans', serif;
$font-family-base: $font-family-sans-serif;

// Navbar
//
$navbar-height: 65px;
