DEBUG=True
SECRET_KEY=django-insecure-7b%v^$@s8ct1c)yx^dr8-@h=oqr&%66q&9!)owdb)fc=adtb2
ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1


DATABASE_NAME=iipdash
DATABASE_USER=iipdash
DATABASE_PASSWORD=iipdash
DATABASE_HOST=localhost
DATABASE_PORT=5432


LANGUAGE_CODE=en-us
TIME_ZONE=UTC


SITE_NAME=
SITE_TAGLINE=


CELERY_BROKER_URL=amqp://


TEST_DATABASE_NAME=test_iipdash
TEST_DATABASE_USER=test_iipdash
TEST_DATABASE_PASSWORD=test_iipdash
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=5432


CACHE_DEFAULT_LOCATION=


MAPBOX_STYLE_ID=mapbox/light-v11
MAPBOX_ACCESS_TOKEN=
