Django[argon2]>=5.1.8
psycopg
django-environ

redis [hiredis]

django-treebeard
django-countries[pyuca]

django-import-export[all]

django-allauth

django-crispy-forms
crispy-bootstrap5

django-debug-toolbar

djangorestframework
djangorestframework-gis
markdown
django-filter
django-oauth-toolkit
drf-spectacular[sidecar]
django-cors-headers

gdal2tiles
rasterio
numpy<2.0

# TODO: replace with direct "django-vectortiles" eventually
# PYPI release doesn't include DRF renderers yet
# https://github.com/submarcos/django-vectortiles/issues/20#issuecomment-1416927523
django-vectortiles @ git+https://github.com/submarcos/django-vectortiles

celery
flower
django-celery-results
django-celery-beat

django-active-link
