Django[argon2]>=5.1.8,<5.2
psycopg
django-environ

redis [hiredis]

django-treebeard
django-countries[pyuca]

django-import-export[all]

django-allauth

django-crispy-forms
crispy-bootstrap5

django-debug-toolbar

djangorestframework
djangorestframework-gis
markdown
django-filter
django-oauth-toolkit
drf-spectacular[sidecar]
django-cors-headers

gdal2tiles
rasterio
numpy<2.0

# django-vectortiles>1.0.2 causes error due to passing extra arguments (*args & **kwargs) to get_queryset()
# https://github.com/submarcos/django-vectortiles/blob/d98530e0ff0f986520ab04fd2389e52f737e26a1/vectortiles/backends/__init__.py#L80
django-vectortiles>=1.0.0,<=1.0.2

celery
flower
django-celery-results
django-celery-beat

django-active-link
