Django[argon2]>=5.1.3
psycopg
django-environ

django-treebeard
django-countries[pyuca]

django-import-export[all]

django-debug-toolbar

djangorestframework
djangorestframework-gis
markdown
django-filter
django-oauth-toolkit
drf-spectacular[sidecar]
