{% load static %}
{% load i18n %}


{# Start: country & region top map filter #}
<div class="map-pane map-top-pane">

    <div class="m-1">
        <select class="form-select"
                v-model="lookup.country"
                @change="handleCountrySelected()">
            <option value="">{% trans 'Country' %}</option>
            <option v-if="countries.features"
                    v-for="option in countries.features"
                    v-text="option.properties.name"
                    :value="option.properties.country">
            </option>
        </select>
    </div>

    <div class="m-1">
        <select class="form-select"
                v-model="lookup.administrative_area"
                @change="handleRegionSelected()">
            <option value="">{% trans 'Region' %}</option>
            <option v-if="regionOptions.features"
                    v-for="option in regionOptions.features"
                    v-text="option.properties.name"
                    :value="option.id">
            </option>
        </select>
    </div>

</div>
{# Start: country & region top map filter #}


{# Start: bottom map legends #}
<div class="map-pane map-legend-pane" v-if="catalogSelectedLayers && catalogSelectedLayers.length > 0">
    <h5 class="h-txt-20-primary">{% trans 'Active layers' %}</h5>

    {# Start: population-density-hd legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('population-density-hd')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Population density' %}</div>
        <div class="small text-muted">{% trans 'Count per 30m<sup>2</sup>' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">0</div>
            <div>
                <img src="{% static '/images/legend-population-density-hd.png' %}"
                     class="img-fluid choropleth-img">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">30+</div>
        </div>
    </div>
    {# End: population-density-hd legend #}

    {# Start: relative-wealth-index legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('relative-wealth-index')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Relative wealth' %}</div>
        <div class="small text-muted">{% trans 'Per 2.4km<sup>2</sup>' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-relative-wealth-index.png' %}"
                     class="img-fluid choropleth-img">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: relative-wealth-index legend #}

    {# Start: mobile-coverage-3g legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('mobile-coverage-3g')">
        <div class="d-flex align-items-center">
            <div class="align-self-center me-2">
                <img src="{% static '/images/legend-mobile-coverage-3g.svg' %}"
                     class="img-fluid choropleth-img">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Mobile coverage (3G)' %}</div>
        </div>
    </div>
    {# End: mobile-coverage-3g legend #}

    {# Start: fiber-optics legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('fiber-optics')">
        <div class="d-flex align-items-center">
            <div class="align-self-center me-2">
                <img src="{% static '/images/legend-fiber-optics.svg' %}"
                     class="img-fluid choropleth-img">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Fiber cable' %}</div>
        </div>
    </div>
    {# End: fiber-optics legend #}

</div>
{# End: bottom map legends #}
