{% load i18n %}


{# Start: view presets tab pane #}
<div
    id="tab-pane-view-presets"
    class="tab-pane fade view-presets"
    role="tabpanel"
    aria-labelledby="tab-link-view-presets">

    {# Start: view presets info #}
    <p class="p-txt-16 mt-3">
        {% blocktrans trimmed %}
            These presets activate specific layers to reveal insights that can inform infrastructure planning.
        {% endblocktrans %}
    </p>
    {# End: view presets info #}

    {# Start: view presets nav tabs #}
    <ul id="view-presets-tabs-tab-list" class="nav nav-underline nav-underline-secondary justify-content-center mt-3" role="tablist">
        <li class="nav-item fs-4" role="presentation">
            <button
                id="tab-link-connected-schools"
                class="nav-link d-flex flex-column align-items-center"
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-connected-schools"
                type="button"
                role="tab"
                aria-controls="tab-pane-connected-schools"
                aria-selected="true">
                <i class="fa-solid fa-bolt fa-2x"></i>
                <span class="mt-2">Connected</span><span>schools</span>
            </button>
        </li>
        <li class="nav-item fs-4" role="presentation">
            <button
                id="tab-link-vulnerable-communities"
                class="nav-link d-flex flex-column align-items-center disabled"
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-vulnerable-communities"
                type="button"
                role="tab"
                aria-controls="tab-pane-vulnerable-communities"
                aria-selected="false">
                <i class="fa-solid fa-house-flood-water fa-2x"></i>
                <span class="mt-2">Vulnerable</span><span>communities</span>
            </button>
        </li>
        <li class="nav-item fs-4" role="presentation">
            <button
                id="tab-link-mobile-internet-access"
                class="nav-link d-flex flex-column align-items-center "
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-mobile-internet-access"
                type="button"
                role="tab"
                aria-controls="tab-pane-mobile-internet-access"
                aria-selected="false">
                <i class="fa-solid fa-tower-cell fa-2x"></i>
                <span class="mt-2">Mobile internet</span><span>access</span>
            </button>
        </li>
    </ul>
    {# End: view presets nav tabs #}


    {# Start: view presets tab content #}
    <div id="view-presets-tabs-tab-content" class="tab-content p-3">

        {# Start: connected schools tab pane #}
        <div
            id="tab-pane-connected-schools"
            class="tab-pane fade connected-schools"
            role="tabpanel"
            aria-labelledby="tab-link-connected-schools">
            <div class="d-flex flex-column">
                <p class="h-txt-20-primary mt-3">
                    {% blocktrans trimmed %}
                        How connected are schools to digital infrastructure?
                    {% endblocktrans %}
                </p>
                <p class="p-txt-16-black ">
                    {% blocktrans trimmed %}
                        This preset activates layers including school locations and mobile coverage, affording planners insight into connectivity and access.
                    {% endblocktrans %}
                </p>
                <p class="p-txt-16-black ">
                    {% blocktrans trimmed %}
                        Once enabled, click on a region to view summary statistics that have been calculated based on these layers.
                    {% endblocktrans %}
                </p>
                <a href="{% url 'dashboard-education' %}" class="btn btn-primary btn-primary-enable-preset align-self-center mt-3">
                    {% trans "Enable preset" %}
                </a>
            </div>
        </div>
        {# End: connected schools tab pane #}

        {# Start: vulnerable communities tab pane #}
        <div
            id="tab-pane-vulnerable-communities"
            class="tab-pane fade vulnerable-communities"
            role="tabpanel"
            aria-labelledby="tab-link-vulnerable-communities">
            <div class="d-flex flex-column">
                <p class="mt-3">
                    {% trans "Vulnerable communities" %}
                </p>
            </div>
        </div>
        {# End: vulnerable communities tab pane #}

       {# Start: mobile internet access tab pane #}
        <div
            id="tab-pane-mobile-internet-access"
            class="tab-pane fade mobile-internet-access"
            role="tabpanel"
            aria-labelledby="tab-link-mobile-internet-access">
            <div class="d-flex flex-column">
                <p class="h-txt-20-primary mt-3">
                    {% blocktrans trimmed %}
                        Where are the gaps in access to quality digital infrastructure?
                    {% endblocktrans %}
                </p>
                <p class="p-txt-16-black ">
                    {% blocktrans trimmed %}
                        This preset activates layers including population estimates and mobile coverage, affording planners insight into connectivity and access.
                    {% endblocktrans %}
                </p>
                <p class="p-txt-16-black">
                    {% blocktrans trimmed %}
                        Once enabled, click on a region to view summary statistics that have been calculated based on these layers.
                    {% endblocktrans %}
                </p>
                <a href="" class="btn btn-primary btn-primary-enable-preset align-self-center mt-3">
                    {% trans "Enable preset" %}
                </a>
            </div>
        </div>
        {# End: mobile internet access tab pane #}

    </div>
   {# End: view presets tab content #}

</div>
{# End: view presets tab pane #}
