{% load static %}
{% load i18n %}


{# Start: country & region top map filter #}
<div class="map-pane map-top-pane">

    <div class="m-1">
        <select class="form-select"
                v-model="lookup.country"
                @change="handleCountrySelected()">
            <option value="">{% trans 'Country' %}</option>
            <option v-if="countries.features"
                    v-for="option in countries.features"
                    v-text="option.properties.name"
                    :value="option.properties.country">
            </option>
        </select>
    </div>

    <div class="m-1">
        <select class="form-select"
                v-model="lookup.administrative_area"
                @change="handleRegionSelected()">
            <option value="">{% trans 'Region' %}</option>
            <option v-if="regionOptions.features"
                    v-for="option in regionOptions.features"
                    v-text="option.properties.name"
                    :value="option.id">
            </option>
        </select>
    </div>

</div>
{# Start: country & region top map filter #}


{# Start: bottom map legends #}
<div class="map-pane map-legend-pane" v-if="catalogSelectedLayers && catalogSelectedLayers.length > 0">
    <h5 class="h-txt-20-primary">{% trans 'Active layers' %}</h5>

    {# Start: population-density-hd legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('population-density-hd')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Population density' %}</div>
        <div class="p-txt-12-muted">{% trans 'Count per 30m<sup>2</sup>' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">0</div>
            <div>
                <img src="{% static '/images/legend-population-density-hd.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">30+</div>
        </div>
    </div>
    {# End: population-density-hd legend #}

    {# Start: relative-wealth-index legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('relative-wealth-index')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Relative wealth' %}</div>
        <div class="p-txt-12-muted">{% trans 'Per 2.4km<sup>2</sup>' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-relative-wealth-index.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: relative-wealth-index legend #}

    {# Start: cyclone-risk legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('cyclone-risk')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Cyclone risk' %}</div>
        <div class="p-txt-12-muted">{% trans 'Probability' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-cyclone-risk.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: cyclone-risk legend #}

    {# Start: seismic-hazards legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('seismic-hazards')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Seismic hazard' %}</div>
        <div class="p-txt-12-muted">{% trans 'Probability' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-seismic-hazards.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: seismic-hazards legend #}

    {# Start: areas-internet-speed-fixed legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('areas-internet-speed-fixed')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Internet speed (fixed)' %}</div>
        <div class="p-txt-12-muted">{% trans 'Average, Mbps' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-areas-internet-speed-fixed.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: areas-internet-speed-fixed legend #}

    {# Start: areas-internet-speed-mobile legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('areas-internet-speed-mobile')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Internet speed (mobile)' %}</div>
        <div class="p-txt-12-muted">{% trans 'Average, Mbps' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-areas-internet-speed-mobile.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: areas-internet-speed-mobile legend #}

    {# Start: cell-towers legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('cell-towers')">
        <div class="p-txt-14-black fw-semibold">{% trans 'Cell tower' %}</div>
        <div class="p-txt-12-muted">{% trans 'Sized by range' %}</div>

        <div class="d-flex align-items-center">
            <div class="me-1 p-txt-12-black fw-medium">Min</div>
            <div>
                <img src="{% static '/images/legend-cell-towers.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="ms-1 p-txt-12-black fw-medium">Max</div>
        </div>
    </div>
    {# End: cell-towers legend #}

    {# Start: fiber-optics legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('fiber-optics')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-fiber-optics.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Fiber cable' %}</div>
        </div>
    </div>
    {# End: fiber-optics legend #}

    {# Start: electricity-networks legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('electricity-networks')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-electricity-networks.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Transmission line' %}</div>
        </div>
    </div>
    {# End: electricity-networks legend #}

    {# Start: health-facilities legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('health-facilities')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-health-facilities.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Healthcare facility' %}</div>
        </div>
    </div>
    {# End: health-facilities legend #}

    {# Start: fiber-nodes legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('fiber-nodes')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-fiber-nodes.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Fiber-optic node' %}</div>
        </div>
    </div>
    {# End: fiber-nodes legend #}

    {# Start: education-institutions legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('education-institutions')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-education-institutions.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'School location' %}</div>
        </div>
    </div>
    {# End: education-institutions legend #}

    {# Start: mobile-coverage-2g legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('mobile-coverage-2g')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-mobile-coverage-2g.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Mobile coverage (2G)' %}</div>
        </div>
    </div>
    {# End: mobile-coverage-2g legend #}

    {# Start: mobile-coverage-3g legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('mobile-coverage-3g')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-mobile-coverage-3g.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Mobile coverage (3G)' %}</div>
        </div>
    </div>
    {# End: mobile-coverage-3g legend #}

    {# Start: mobile-coverage-4g legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('mobile-coverage-4g')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-mobile-coverage-4g.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Mobile coverage (4G)' %}</div>
        </div>
    </div>
    {# End: mobile-coverage-4g legend #}

    {# Start: flooding-fluvial legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('flooding-fluvial')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-flooding-fluvial.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Flooding (fluvial)' %}</div>
        </div>
        <div class="p-txt-12-muted ms-3">{% trans '1 in 100 estimate' %}</div>
    </div>
    {# End: flooding-fluvial legend #}

    {# Start: flooding-pluvial legend #}
    <div class="mt-3" v-if="catalogSelectedLayers.includes('flooding-pluvial')">
        <div class="d-flex align-items-center">
            <div class="me-2">
                <img src="{% static '/images/legend-flooding-pluvial.svg' %}"
                     class="img-fluid choropleth-img d-flex align-items-center">
            </div>
            <div class="p-txt-14-black fw-semibold">{% trans 'Flooding (pluvial)' %}</div>
        </div>
        <div class="p-txt-12-muted ms-3">{% trans '1 in 100 estimate' %}</div>
    </div>
    {# End: flooding-pluvial legend #}

</div>
{# End: bottom map legends #}
