{% extends 'dashboards/base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Map" %}{% endblock %}

{% block body_id %}_education-dash{% endblock %}
{% block body_class %}{% endblock %}

{% block map_id %}_education-map{% endblock %}

{% block extra_map_sidebar_header_class %}map-sidebar-header map-sidebar-header-primary mb-0{% endblock %}
{% block extra_map_sidebar_tabs_class %}map-sidebar-tabs{% endblock %}


{% block map_sidebar_header_content %}
    <div class="p-3">
        <div class="d-flex flex-row">
            <p class="p-txt-20-white mb-0">{% trans "Preset enabled:" %}</p>
            <a class="btn-close btn-close-bg-white align-self-end ms-auto" role="button" href="{% url 'home' %}"></a>
        </div>
        <p class="p-txt-24-white">{% trans "Connected schools" %}</p>
        <p class="p-txt-20-white mb-0">{% trans "Location selected:" %}</p>
        <p class="p-txt-24-white" v-text="selectedLocation || '-'"></p>
    </div>
{% endblock map_sidebar_header_content %}


{% block map_sidebar_tabs_content %}

    {# Start: sidebar nav tabs #}
    <ul id="map-sidebar-tabs-tab-list" class="nav nav-underline nav-underline-primary justify-content-center" role="tablist">
        <li class="nav-item me-5" role="presentation">
            <button
                id="tab-link-overview"
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-overview"
                type="button"
                role="tab"
                aria-controls="tab-pane-overview"
                aria-selected="true">
                {% trans "Overview" %}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                id="tab-link-details"
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#tab-pane-details"
                type="button"
                role="tab"
                aria-controls="tab-pane-details"
                aria-selected="false">
                {% trans "Details" %}
            </button>
        </li>
    </ul>
    {# End: sidebar nav tabs #}

    {# Start: map sidebar tab content #}
    <div id="map-sidebar-tabs-tab-content" class="tab-content p-3">

        {% include "dashboards/includes/education_overview.html" %}

        {% include "dashboards/includes/education_meta.html" %}

    </div>
    {# End: map sidebar tab content #}

{% endblock map_sidebar_tabs_content %}


{% block map_extras %}
    <div class="map-pane map-top-pane">

        <div class="m-1">
            <select class="form-select"
                    v-model="lookup.country"
                    @change="updateCountry()">
                <option value="">{% trans 'Country' %}</option>
                <option v-if="countries.features"
                        v-for="option in countries.features"
                        v-text="option.properties.name"
                        :value="option.properties.country">
                </option>
            </select>
        </div>

        <div class="m-1">
            <select class="form-select"
                    v-model="lookup.administrative_area"
                    @change="update()">
                <option value="">{% trans 'Region' %}</option>
                <option v-if="regionOptions.features"
                        v-for="option in regionOptions.features"
                        v-text="option.properties.name"
                        :value="option.id">
                </option>
            </select>
        </div>

        <div class="m-1">
            <button type="button" class="btn btn-outline-primary bg-light"
                    @click="toggleSummaryLayer()">
                <i class="fas fa-layer-group"></i> {% trans 'Reveal underlying data' %}
            </button>
        </div>

    </div>
{% endblock map_extras %}


{% block extra_css %}
    <link href="{% static 'education_dash.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'education_dash.js' %}"></script>
{% endblock extra_js %}
