//
// Base styles
//

//
// Alternate buttons
//

.btn-primary-enable-preset {
    @extend .btn-primary, .p-txt-20, .fw-medium;
    color: $white !important;
}

.btn-close-bg-white {
    @extend .btn-close;

    // scss-docs-start close-css-vars
    --#{$prefix}btn-close-color: #{$white};
    --#{$prefix}btn-close-bg: #{escape-svg($btn-close-bg-white)};
    --#{$prefix}btn-close-opacity: none;
    --#{$prefix}btn-close-hover-opacity: none;
    // scss-docs-end close-css-vars
}

.btn-map-default {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
    border: var(--bs-border-width) solid var(--bs-border-color);

    &:active,
    &:hover,
    &.btn:active {
        --bs-text-opacity: 1;
        background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
        color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity));
        border: var(--bs-border-width) solid var(--bs-primary);
    }

}
