// Select
//

.form-select-primary {
    @extend .form-select, .ff-dm-serif-display;

    background-color: $primary;
    color: $white;
    border: none;

    // scss-docs-start form-select-css-vars
    --#{$prefix}form-select-bg-img: #{escape-svg($form-select-indicator-white)};
    // scss-docs-end form-select-css-vars
}
