// Navigation bar styles
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
//

.navbar {

    // Navbar brand
    .navbar-brand {
        font-family: 'DM Serif Display', serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;  // DESIGN: line-height: 27px;
    }

    // Navbar nav
    //
    // Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).
    //
    .navbar-nav {

        //
        // Nav link
        //
        .nav-link {
            font-family: 'DM Sans', sans-serif;
            font-style: normal;
            font-weight: 500;
            // TODO: font-weight: $font-weight-medium; // Use Bootstrap variable
            letter-spacing: 0.11em;
            text-transform: uppercase;
            line-height: 1.25;
            // DESIGN: line-height: 20px;

            // Active Link Styling
            //
            &.active {
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-underline-offset: 5px;
            }
        }
    }
}

.navbar-height-offset {
    padding-top: $navbar-height !important; // Offsets navbar height
}
