// Nav styles
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.
//

//
// Underline bordered
//

.nav-underline-bordered {
  @extend .nav-underline;

  border-bottom: 0.0625rem solid $grey-c8;

  .nav-link {
    @extend .ff-dm-sans, .fst-normal, .fs-20;
    font-weight: $font-weight-semibold;
    line-height: 1.3; // ~ (26px / 20px)
    color: $grey-7c;

    padding-right: 0;
    padding-left: 0;
    border-bottom: 0.25rem solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: currentcolor;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    @extend .ff-dm-sans, .fst-normal, .fs-20;
    font-weight: $font-weight-semibold;
    line-height: 1.3; // ~ (26px / 20px)
    color: $primary;
    border-bottom-color: currentcolor;
  }
}

.nav-underline-primary {
  @extend .nav-underline;

  background-color: $primary;
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba($black, 0.15);

  .nav-link {
    @extend .ff-dm-sans, .fst-normal, .fw-normal, .fs-20;
    line-height: 1.3; // ~ (26px / 20px)
    color: $white;

    padding-right: 0;
    padding-left: 0;
    border-bottom: 0.25rem solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: currentcolor;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    @extend .ff-dm-sans, .fst-normal, .fw-bold, .fs-20;
    font-weight: $font-weight-normal;
    line-height: 1.3; // ~ (26px / 20px)
    color: $white;
    border-bottom-color: currentcolor;
  }
}
