$categories: (
  10: #007fff,
  // 10km - Dark Blue
  20: #82a5ff,
  // 20km - Medium Blue
  30: #bfccff,
  // 30km - Light Blue
  no-data: #d9d9d9, // No data - Gray
);

.rectangle-chart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px; // Adjust based on container

  .bar {
    height: 30px;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;

    @each $distance, $color in $categories {
      &.distance-#{$distance} {
        background-color: $color;
      }
    }
  }
}

// <div class="rectangle-chart">
//                     <div class="bar distance-10" style="width: 60%;">60%</div>
//                     <div class="bar distance-20" style="width: 30%;">30%</div>
//                     <div class="bar distance-30" style="width: 10%;">10%</div>
//                     <div class="bar distance-no-data" style="width: 5%;">&nbsp;</div>
//                 </div>
