// Map styles
//

.map-sidebar {
  height: calc(100vh - $navbar-height); // Full height minus navbar
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba($black, 0.15);

  // Map sidebar disclaimer
  .map-sidebar-disclaimer {
    img {
      width: 163px;
      height: 33px;
    }
  }
}

// Map container
.map-container {
  height: calc(100vh - $navbar-height); // Full height minus navbar
}
