// Map styles
//

.map-sidebar {
  height: calc(100vh - $navbar-height); // Full height minus navbar
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba($black, 0.15);

  // Map sidebar header
  .map-sidebar-header {
    background-color: $white;
  }

  // Map sidebar header primary
  .map-sidebar-header-primary {
    background-color: $primary;
    box-shadow: 0.0625rem -0.0625rem 0.25rem rgba($black, 0.15);
  }

  // Map sidebar disclaimer
  .map-sidebar-disclaimer {
    img {
      width: 163px;
      height: 33px;
    }
  }
}

// Map container
.map-container {
  height: calc(100vh - $navbar-height); // Full height minus navbar
}

.maplibregl-ctrl .maplibregl-legend-list button.maplibregl-legend-close-button,
.maplibregl-legend-list > br,
.maplibregl-legend-onlyRendered-checkbox,
.maplibregl-legend-onlyRendered-label {
    display: none;
}

.maplibregl-ctrl .maplibregl-legend-list {
    overflow-y: auto;
    margin: 5px 5px 15px 10px;

    .maplibregl-legend-title-label {
        color: $primary;
        font-size: 20px;
        line-height: 27.5px;
        font-weight: 400;
    }

    .legend-table {

        tr {
            display: flex;  // use flex box to allow re-ordering of legend columns.
        }

        th:first-child, td:first-child {
          order: 2;  // Move first column to the last position
        }

        th:nth-child(3), td:nth-child(3) {
            flex-grow: 1;  // make the label column fill up the space
        }

        .legend-table-td {
            margin: 5px 2px;
            padding: 5px;

            label {
                font-size: 14px;
                line-height: 18.23px;
                font-weight: 600;
                color: $main-black;
            }
        }
    }
}

.maplibregl-popup-content {
    padding: 0;
}

.map-pane {
    z-index: 101;
}

.map-top-pane {
    display: flex;
    position: fixed;
    top: $navbar-height;
}
