<!DOCTYPE html>

{% load static %}

{# Start: html #}
<html lang="en">

    <head>
        {% block google_analytics %}
            {% include 'includes/google_analytics.html' %}
        {% endblock %}

        {% block meta %}
            <meta charset="utf-8">

            {% block meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock meta_viewport %}

            <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'site.webmanifest' %}">

            {# SEO Meta Tags #}
            <meta name="description" content="Inform your planning efforts to expand and enhance infrastructure with data about digital infrastructure, climate and energy, and demographics.">
            <meta name="keywords" content="GIS, infrastructure planning, digital infrastructure, climate data, energy data, demographics, mapping platform">
            <meta name="robots" content="index, follow">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            {# open graph meta tags #}
            <meta property="og:title" content="Infrastructure Mapping Platform">
            <meta property="og:description" content="Inform your planning efforts with data on digital infrastructure, climate, energy, and demographics.">
            <meta property="og:image" content="{% static 'images/icon-lg.png' %}">
            <meta property="og:url" content="{{ SITE_URL }}">
            <meta property="og:type" content="website">

            {# twitter meta tags #}
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="Infrastructure Mapping Platform">
            <meta name="twitter:description" content="Inform your planning efforts with data on digital infrastructure, climate, energy, and demographics.">
            <meta name="twitter:image" content="{% static 'images/icon-lg.png' %}">

            {% block meta_cards %}{% endblock %}
        {% endblock meta %}

        <title>
            {{ SITE_NAME }} &bull; {% block head_title %}{{ SITE_TAGLINE }}{% endblock %}
        </title>

        {% block css %}
            <link href="{% static 'vendor.css' %}" rel="stylesheet">
            <link href="{% static 'main.css' %}" rel="stylesheet">
        {% endblock css %}

        {% block extra_css %}{% endblock %}

        {% block extra_head %}{% endblock %}

    </head>


    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}

        {% block extra_body %}{% endblock %}


        {% block js %}
            <script type="text/javascript">
                window.settings = {
                    API_ROOT: "{{ API_ROOT }}",
                    STATIC_URL: "{% static '' %}",
                    BASEMAP_URL: "{{ BASEMAP_URL }}",
                    BASEMAP_ATTRIBUTION: `{{ BASEMAP_ATTRIBUTION|safe }}`,
                    MAP_DEFAULT_CENTER: {{ MAP_DEFAULT_CENTER }},
                    MAP_DEFAULT_ZOOM: {{ MAP_DEFAULT_ZOOM }},
                    MAP_DEFAULT_BBOX: {{ MAP_DEFAULT_BBOX }},
                    MAPBOX_ACCESS_TOKEN: "{{ MAPBOX_ACCESS_TOKEN }}",
                    MAPBOX_STYLE_ID: "{{ MAPBOX_STYLE_ID }}"
                };

                {% if user.is_authenticated %}
                    window.userIsAuthenticated = true;
                {% endif %}
            </script>

            {% block main_js %}
                <script src="{% static 'main.js' %}"></script>
            {% endblock main_js %}
        {% endblock js %}

        {% block extra_js %}{% endblock %}
    </body>

</html>
{# End: html #}
