<!DOCTYPE html>

{% load static %}

{# Start: html #}
<html lang="en">

  {# Start: head #}
  <head>

    {# Start: analytics #}
    {% block google_analytics %}{% endblock google_analytics %}
    {# End: analytics #}

    {# Start: meta #}
    {% block meta %}
      <meta charset="utf-8">
      {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta_viewport %}
      {% block meta_cards %}{% endblock meta_cards %}
    {% endblock meta %}
    {# End: meta #}

    {# Start: title #}
    <title>{{ SITE_NAME }} &bull; {% block head_title %}{{ SITE_TAGLINE }}{% endblock head_title %}</title>
    {# End: title #}

    {# Start: css #}
    {% block css %}
      <link href="{% static 'main.css' %}" rel="stylesheet">
      <link href="{% static 'vendor.css' %}" rel="stylesheet">
    {% endblock css %}
    {% block extra_css %}{% endblock extra_css %}
    {# End: css #}

    {# Start: extra head #}
    {% block extra_head %}{% endblock extra_head %}
    {# End: exta head #}

  </head>
  {# End: head #}

  {# Start: body #}
  {% block body %}
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

    {# Start: main body #}
      {% block main_body %}
        {# Start: main top navigation #}

        {# End: main top navigation #}
        {% block main_top_nav %}
          {% include 'includes/main_top_nav.html' %}
        {% endblock main_top_nav %}

        {# Start: main content #}
        {% block main_content %}
          <main id="{% block main_content_id %}main-content{% endblock %}"
                class="container-fluid {% block extra_main_content_class %}main-content{% endblock %}">
            {% block content %}{% endblock content %}
          </main>
        {% endblock main_content %}
        {# End: main content #}

      {% endblock main_body %}
    {# End: main body #}

    {# Start: extra body #}
      {% block extra_body %}{% endblock extra_body %}
    {# Start: extra body #}

    {# Start: js #}
      {% block js %}
        <script src="{% static 'main.js' %}"></script>
      {% endblock js %}
      {% block extra_js %}{% endblock extra_js %}
    {# End: js #}

    </body>
  {% endblock body %}
  {# End: body #}

</html>
{# End: html #}
