<!DOCTYPE html>

{% load static %}

{# Start: html #}
<html lang="en">

  {# Start: head #}
  <head>

    {# Start: analytics #}
    {% block google_analytics %}{% endblock %}
    {# End: analytics #}

    {# Start: meta #}
    {% block meta %}
      <meta charset="utf-8">

      {# Start: meta viewport #}
      {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock %}
      {# End: meta viewport #}

      {# Start: meta cards #}
      {% block meta_cards %}{% endblock %}
      {# End: meta cards #}

    {% endblock %}
    {# End: meta #}

    {# Start: title #}
    <title>{{ SITE_NAME }} &bull; {% block head_title %}{{ SITE_TAGLINE }}{% endblock %}</title>
    {# End: title #}

    {# Start: css #}
    {% block css %}
      <link href="{% static 'main.css' %}" rel="stylesheet">
      <link href="{% static 'vendor.css' %}" rel="stylesheet">
    {% endblock css %}
    {# End: css #}

    {# Start: extra css #}
    {% block extra_css %}{% endblock %}
    {# End: extra css #}

    {# Start: extra head #}
    {% block extra_head %}{% endblock %}
    {# End: exta head #}

  </head>
  {# End: head #}

  {# Start: body #}
  {% block body %}
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

    {# Start: main body #}
      {% block main_body %}

      {# Start: main top navigation #}
        {% block main_top_nav %}
          {% include 'includes/main_top_nav.html' %}
        {% endblock %}
      {# End: main top navigation #}

      {# Start: main content #}
        {% block main_content %}
          <main id="{% block main_content_id %}main-content{% endblock %}"
                class="container-fluid navbar-height-offset {% block extra_main_content_class %}main-content{% endblock %}">

            {# Start: content #}
            {% block content %}{% endblock %}
            {# End: content #}

          </main>
        {% endblock %}
      {# End: main content #}

      {% endblock %}
    {# End: main body #}

    {# Start: extra body #}
      {% block extra_body %}{% endblock %}
    {# Ende: extra body #}

    {# Start: js #}
      {% block js %}
        <script src="{% static 'main.js' %}"></script>
      {% endblock %}
    {# End: js #}

    {# Start: extra js #}
      {% block extra_js %}{% endblock %}
    {# End: extra js #}

    </body>
  {% endblock %}
  {# End: body #}

</html>
{# End: html #}
