{% load i18n %}


{# Start: details tab pane #}
<div
    id="tab-pane-details"
    class="tab-pane fade details"
    role="tabpanel"
    aria-labelledby="tab-link-details">

    {# Start: about #}
    <div class="mt-3">

        {# Start: about intro #}
        <p class="h-txt-20-primary">
            {% trans "About these statistics" %}
        </p>
        <p class="p-txt-20-black">
            {% blocktrans trimmed %}
                The summary statistics for this preset was calculated using these data layers:
            {% endblocktrans %}
        </p>
        {# End: about intro #}


        {# Start: about data layers #}
        <div class="d-flex mt-3">
            <i class="fa-solid fa-layer-group"></i>
            <span class="p-txt-18-charcoal-black ms-2">{% trans "School locations" %}</span>
        </div>
        <div class="d-flex mt-3">
            <i class="fa-solid fa-layer-group"></i>
            <span class="p-txt-18-charcoal-black ms-2">{% trans "Fiber node locations" %}</span>
        </div>
        {# End: about data layers #}

        {# Start: about outro #}
        <p class="p-txt-20-black mt-3">
            {% blocktrans trimmed %}
                You can reveal this underlying data using the button on the map, or close this preset to explore more data layers manually.
            {% endblocktrans %}
        </p>
        {# End: about outro #}

    </div>
    {# End: about #}

    {# Start: download #}
    <div class="mt-5">

        {# Start: download intro #}
        <p class="h-txt-20-primary">
            {% trans "Download these statistics" %}
        </p>
        <p class="p-txt-20-black">
            {% blocktrans trimmed %}
                Access a CSV file of these summary statistics for the selected location:
            {% endblocktrans %}
        </p>
        {# End: download intro #}

        {# Start: download button #}
        <div class="mt-2 d-flex justify-content-center">
            <button class="btn btn-light d-flex align-items-center">
                <i class="fa-solid fa-download"></i>
                <span class="ms-2">{% trans "Download" %}</span>
            </button>
        </div>
        {# End: download button #}

    </div>
    {# End: download #}

    {# Start: notes #}
    <div class="mt-5 mb-5">

        <p class="h-txt-20-primary">
            {% trans "Important notes" %}
        </p>

        <ul>
            <li class="p-txt-20-black">
                {% blocktrans trimmed %}
                    Distance to fiber node was calculated using a direct-line analysis from the school's location to the nearest fiber node.
                {% endblocktrans %}
            </li>
            <li class="p-txt-20-black">
                {% blocktrans trimmed %}
                    Regional statistics are the average of distances for all schools in that region.
                {% endblocktrans %}
            </li>
            <li class="p-txt-20-black">
                {% blocktrans trimmed %}
                    Close this preset and view the data layers to learn about their sources and other metadata.
                {% endblocktrans %}
            </li>
        </ul>

    </div>
    {# End: notes #}

</div>
{# End: details tab pane #}
