{% load i18n %}


{# Start: details tab pane #}
<div id="tab-pane-details"
     class="tab-pane fade details"
     role="tabpanel"
     aria-labelledby="tab-link-details">

    {# Start: about #}
    <div class="mt-3">

        {# Start: about intro #}
        <p class="h-txt-20-primary">
            {% trans "About these statistics" %}
        </p>
        <p class="p-txt-20-black">
            {% blocktrans trimmed %}
                The summary statistics for this preset was calculated using these data layers:
            {% endblocktrans %}
        </p>
        {# End: about intro #}


        {# Start: about data layers #}
        <div class="d-flex mt-3">
            <i class="fa-solid fa-layer-group"></i>
            <span class="p-txt-18-charcoal-black ms-2">{% trans "Mobile Network Coverage" %}</span>
        </div>
        <div class="d-flex mt-3">
            <i class="fa-solid fa-layer-group"></i>
            <span class="p-txt-18-charcoal-black ms-2">{% trans "Population Density" %}</span>
        </div>
        {# End: about data layers #}

        {# Start: about outro #}
        <p class="p-txt-20-black mt-3">
            {% blocktrans trimmed %}
                You can reveal this underlying data using the button on the map, or close this preset to explore more data layers manually.
            {% endblocktrans %}
        </p>
        {# End: about outro #}

    </div>
    {# End: about #}

    {# Start: download #}
    <div class="mt-5">

        {# Start: download intro #}
        <p class="h-txt-20-primary">
            {% trans "Download these statistics" %}
        </p>
        <p class="p-txt-20-black">
            {% blocktrans trimmed %}
                Access a CSV file of these summary statistics for the selected location:
            {% endblocktrans %}
        </p>
        {# End: download intro #}

        {# Start: download button #}
        <div class="mt-2 d-flex justify-content-center">
            <a class="btn btn-light d-flex align-items-center"
               :href="summaryCSVDownloadURL">
                <i class="fa-solid fa-download"></i>
                <span class="ms-2">{% trans "Download" %}</span>
            </a>
        </div>
        {# End: download button #}

    </div>
    {# End: download #}

</div>
{# End: details tab pane #}
