{% load i18n %}


<div id="tab-pane-overview"
     class="tab-pane fade show active overview"
     role="tabpanel"
     aria-labelledby="tab-link-overview">

    {# Start: summary statistics #}
    <div class="mt-3">

        <p class="h-txt-20-primary">
            {% trans "Summary statistics" %}
        </p>

        {# Start: statistics rectangle #}
        <div class="my-4 d-flex">

            <div class="mb-3" style="height: 60px">
                <canvas id="mobile-coverage-summary-chart"></canvas>
                <p class="p-txt-stats-description">
                    {% trans "Covered population" %}
                </p>
            </div>

            <div class="">
                <p class="p-txt-stats-value-primary ms-3">
                    <span v-text="round(mobileCoverageAggregates[`coverage_${selectedNetworkGeneration}`] * 100)"></span> %
                </p>
            </div>

        </div>
        <hr class="border-secondary border-2">
        {# End: statistics rectangle #}

        <div class="my-5 chart-container-md">
            <canvas id="regions-mobile-coverage-chart"></canvas>
        </div>
        <hr class="border-secondary border-2">

    </div>
    {# End: summary statistics #}

    {# Start: dive #}
    <div class="mt-4">

        <p class="h-txt-20-primary">
            {% trans "Dive deeper" %}
        </p>

        <p class="p-txt-20-black">
            {% blocktrans trimmed %}
                Choose a region on the map to see summary statistics for that area.
            {% endblocktrans %}
        </p>

    </div>
    {# End: dive #}

    {# Start: explore #}
    <div class="mt-4 mb-5">

        <p class="h-txt-20-primary">
            {% trans "Explore on your own" %}
        </p>

        <p class="p-txt-20-black">
            {% blocktrans trimmed %}
                Close this preset to revert to the map view, where you can choose your own data layers.
            {% endblocktrans %}
        </p>

    </div>
    {# End: explore #}

</div>

